* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 1000px;
    height: 600px;
    margin-bottom: 20px;
}

.pad, .settings {
    height: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.pad {
    height: 600px;
    width: 600px;
}

.settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    justify-content: space-around;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.settings button {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border: 0;
    outline: 0;
    background-color: rgb(99, 241, 241);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.settings .reset {
    background-color: red;
    color: white;
}

.slider {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}

.slider input {
    width: 60%;
}



